
.teEsperamos {
    position: lefet;
    font-family: $fontL;
    font-size: $textogrande;
    padding-left: 3rem;
}

.ParrafoDeHome {
    font-size: $textogrande;
    color:$ColorB;
}

/*Textos de las paginas*/

.Textosdepages {
    text-align: center;
}
